@import 'styles/global.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: $white;
  border-radius: 9999px;
  height: 46px;

  .menu {
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}
