@import 'styles/global.scss';

.container {
  .selection {
    width: 110px;
    height: 29px;
    border-radius: 10px;
    border: none;

    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: url('../../assets/images/selection-arrow.svg') $white;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    padding: 0 10px;

    &:focus,
    &:active,
    &:focus-visible,
    &:visited,
    &:hover {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
