@import 'styles/global.scss';

.container {
  .select {
    width: 110px;
    height: 29px;
    border-radius: 10px;
    border: none;
    text-align: left;
    background: url('../../assets/images/selection-arrow.svg') $white;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }

    ul {
      padding-left: 0;
      text-align: left;
      padding: 8px;
    }
  }

  .options {
    position: absolute;
    background-color: $white;
    width: 98px;
    margin-top: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 6px;
  }
}

.option {
  padding: 3.57px 0;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: $black-2;

  option {
    display: flex;
    align-items: center;
    padding: 0 8.66px;
    height: 28px;
  }

  &.active {
    option {
      display: flex;
      align-items: center;
      color: $white;
      padding: 0 8.66px;
      background: #585292;
      border-radius: 8px;
      height: 28px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}
